@import 'font';
@import 'variable.scss ';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
body, html{
  margin: 0;
  padding: 0;
  height: 100%;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
body{
  color: $body-color;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.app-massenger{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header{
    height: $header-height;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $border-color;
    .left{
      width: $left-sidebar-width;   
      position: relative;   
      .left-action{
        position: absolute;
        top: 0;
        left: 8px;
      }
      .right-action{
        position: absolute;
        top: 0;
        right: 8px;
      }
      h2{
        line-height: $header-height;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
      button{
        background: none;
        line-height: $header-height;
        border: 0 none;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .content{
      flex-grow: 1;
      h2{
        line-height: $header-height;
        text-align: center;
      }
    }
    .right{
      width: $right-sidebar-width;     
      .user-bar{
        display: flex;
        justify-content: flex-end;
        line-height: $header-height;
        padding: 0 10px;
        .profile-name{
          padding-right: 10px;
        }
        .profile-image{
           img{
             width: 30px;
             height: 30px;
             border-radius: 50%;
             margin-top: 10px
           }
        }
      }
    }
  }
  .main{
    height: 100%;
    display: flex;
    overflow: hidden;
    .left-sidebar{
      width: $left-sidebar-width;
      border-right: 1px solid $border-color;      
    }
    .right-sidebar{
      width: $right-sidebar-width;
      border-left: 1px solid $border-color;      
      .title{
        		padding: 10px;
      }
    }
    .content{
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .messages{
        flex-grow: 1;
      }  
      .message-input{
        border-top: 1px solid $border-color;
        height: 50px;
        display: flex;
        flex-direction: row;
        .text-input{
          flex-grow: 1;
          textarea{
            border: 0 none;
            height: 100%;
            width: 100%;
            padding: 8px 15px;
          }
        }
        .actions{
          button.send{
            background:  $primary-color;
            color:white;
            border: 0 none;
            padding: 7px 15px;
            line-height: 40px;
          }
        }
      }   
    }
  }
}
.messages{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  .message{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px;
    margin-bottom: 40px;
    .message-user-image{
      img{
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
    .message-body{
      padding-left: 10px;
      .message-author{

      }
      .message-text{
        background: $primary-color;
        color: white;        
        padding: 10px;
        border-radius: 10px;
      }
    }
    &.me{
      justify-content: flex-end;
      .message-body{
        .message-text{
          background: $body-color;
          color: #fff;
        }
      }
    }
  }
}
.chanels{
  overflow-y: auto;
  height: 100%;
  .chanel{
    cursor: pointer;
    border: 1px solid $border-color;
    padding: 8px;
    display: flex;
    .user-image{
      width: 30px;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
    .chanel-info{
      flex-grow: 1;
      padding-left: 8px;
      overflow: hidden;
      h2{
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;        ;
      }
      p{
        font-size: 12px;
        white-space: nowrap;    
      }
    }
    &.active{
      background: rgba(0, 0, 0, 0.05)
    }
  }
}

.members{
  
  	.member{
  		display: flex;
  		border-bottom: 1px solid $border-color;
  		padding: 8px;
  		.user-image{
  			width: 30px;
  			img{
  				width: 30px;
  				height: 30px;
  				border-radius: 50%;
  			}
  		}
  		.member-info{
  			padding-left: 8px;
  			flex-grow: 1;
  			h2{
  				font-size: 14px;
  			}
  			p{
  
  				font-size: 12px;
  			}
  		}
  	}
  }
  h2.title{
  	font-size: 16px;
  	font-weight: 600;
  	color: rgba(0, 0 ,0,0.8);
  } 
  .toolbar{
    height: $header-height;
    display: flex;
    flex-direction: row;
    position: relative;
    .search-user{
      position: absolute;
      left: 0;
      // top: $header-height;
      top: 42px;
      z-index: 1;
      border: 1px solid $border-color;
      border-top: 0 none;
      min-width: 180px;
      .user-list{
        display: flex;
        flex-direction: column;
        .user{
          display: flex;
          flex-direction: row;
          padding: 5px;
          border-bottom: 1px solid $border-color; 
          cursor: pointer;
          img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-top: 10px;
          }
          h2{
            font-size: 14px;
            padding-left: 8px;
            flex-grow: 1;
          }
          &:last-child{
            border-bottom: 0 none;
          }
          &:hover{
            background: rgba(0, 0, 0, 0.02)
          }
        }
      }
    }
    label{
      line-height: $header-height;
    }
    input{
      height: 30px;
      line-height: 30px;
      margin-top: 10px;
      border: 0 none;
    }
  }